.blogHome {
  background-color: var(--clr-bg-secondary);
  padding-inline: 2.1875em;
  padding-block: 6.25em 9.37em;
}

.blogHome-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
