.servicesCards {
  perspective: 600px;
  padding-inline: 0.937em;
}

.card {
  position: relative;
  z-index: 1;
  min-height: 25em;
  box-shadow: 0px 18px 45px 0px rgba(0 0 0/ 0.14);
  border-bottom: 3px solid var(--clr-pri);
  border-radius: 6px;
  transform-style: preserve-3d;
  transform-origin: center right;
  will-change: transform;
  transition: transform 0.5s, opacity 0.5s;
}

.card.isFlip {
  transform: translateX(-100%) rotateY(180deg) !important;
}

.card:hover {
  color: var(--clr-text-light);
  box-shadow: 0px 18px 45px 0px rgba(52 152 219/0.7);
  cursor: pointer;
}

.card::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(39deg, #3498db 0%, #1abc9c 100%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}

.card:hover::before {
  opacity: 1;
  visibility: visible;
  border-radius: 6px;
}

.cardService {
  transform: translateY(0);
  transition: transform 0.2s ease;
}

.cardService:hover {
  transform: translateY(-1.25em);
}

.card-face {
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  padding: 1em;
}

.card-face--front {
  transform: rotateY(0deg);
  align-content: center;
}

.card-face--back {
  transform: rotateY(180deg);
  display: grid;
  place-content: center;
}

.card-icon {
  color: var(--clr-pri);
  width: 4.312em;
  height: 4.437em;
  margin-inline: auto;
  transition: color 0.3s ease;
}

.card:hover .card-icon {
  color: var(--clr-text-light);
}

.card-title {
  color: rgb(32 32 32);
  font-size: 1.8125rem;
  font-weight: 500;
  margin-block: 1.03em 0.517em;
}

.card:hover .card-title {
  color: var(--clr-text-light);
}

.card-para {
  margin-block-end: 1em;
}

.cardSubtitle {
  display: inline-flex;
  gap: 1em;
}

.cardSubtitle-link {
  color: rgb(32 32 32);
  font-size: 1.125rem;
}

.card:hover .cardSubtitle-link {
  color: var(--clr-text-light);
}

.cardSubtitle-button {
  color: rgb(32 32 32);
  border: none;
  background: none;
  font-size: 1.125rem;
  cursor: pointer;
}

.card:hover .cardSubtitle-button {
  color: var(--clr-text-light);
}

.cardSubtitle-icon {
  transition: transform 0.3s ease;
}

.card:hover .cardSubtitle-icon {
  transform: translateX(15px);
  fill: var(--clr-text-light);
}

.card-par {
  font-size: 1.125rem;
}
