.serCardDet {
  margin-block-start: 9em;
  padding-inline: 2.187em;
  padding-block-end: 9.375em;
  overflow-x: clip;
}

.serCardDet-title {
  color: var(--clr-pri);
  font-size: 2.6875rem;
  font-weight: 600;
  padding-block: 0.93em 3.023em;
  text-align: center;
  text-transform: capitalize;

  @media (min-width: 48rem) {
    padding-block: 1.8em 3.023em;
  }
}

.cardDetImages {
  max-width: 100vw;
  width: 100vw;
  margin: 0 calc(-50vw + 50%);
  object-fit: cover;

  @media (min-width: 48rem) {
    max-width: clamp(4.375em, 80vw, 60em);
    width: unset;
    margin: unset;
    margin-inline: auto;
    border-radius: 8px;
  }
}

picture img {
  border-radius: 8px;
}

.cardDetDes-para {
  color: var(--clr-text-ser-card);
  font-size: 1.125rem;
  line-height: 1.6;
}

.cardDetDes {
  padding-block-start: 3.125em;
  max-width: 60em;
  margin-inline: auto;
}

.cardDetSecOne-head {
  color: var(--clr-text-2);
  font-size: 2.062rem;
  margin-block: 2.5em 1em;
}

.cardDetSecOne-para {
  margin-block-end: 1.65em;
}

.cardDetSecOne-subhead {
  color: var(--clr-text-2);
  font-weight: 600;
  margin-block: 2.5em 1em;
}

.cardDetSecOne-paraSec {
  margin-block: 1em;
}

.cardDetSecTwo-categories {
  list-style-type: disc;
  margin-inline-start: 3em;
}

.cardDetSecTwo-item {
  color: var(--clr-text-ser-card);
  font-size: 1.125rem;
  line-height: 1.6;
  margin-block-end: 1em;
}

.cardDEtSecThree-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardDetSecThree-head {
  color: var(--clr-text-2);
  font-size: 2.062rem;
  font-weight: 600;
  margin-block: 2.5em 1em;
}

.cardDetSecThree-para {
  margin-block-end: 1em;
  order: 1;
}

.cardDetSecThreeList {
  margin-block-end: 2.06em;
  margin-inline-start: 3em;
}

.cardDetSecThreeList-item {
  /* color: rgba(7 12 31/0.9); */
  color: var(--clr-text);
  font-size: 1.125rem;
  font-weight: 400;
  margin-block-end: 0.56em;
  order: 2;
  list-style: disc;
}

.cardDetSecThreeList--margin {
  margin-inline-start: 1.75em;
}

.cardDetSec-head {
  color: var(--clr-text-2);
  font-size: 1.75rem;
}

.relatedArticle {
  margin-block-start: 70px;
}

.relatedSecTitle {
  font-size: 24px;
  font-weight: 500;
  margin-block: 1em;
}

.relatedArtiList > *:not(:last-child) {
  margin-block-end: 0.5em;
}

.relatedArtiList {
  list-style: disc;
  margin-inline-start: 1em;
}

.relatedArtiList a:hover {
  color: var(--clr-pri);
}
