.service {
  margin-top: 9em;
  overflow-x: clip;

  @media (min-width: 48rem) {
    /* margin-block: 12.562em; */
  }
}

.serviceTitle {
  color: var(--clr-pri);
  font-size: 2.687em;
  font-weight: 600;
  text-align: center;
  padding-block: 1.162em;
}

.serviceTitle-ani {
  opacity: 0;
  transform: scale(1.2);
  animation: h1Se 0.5s ease forwards;
}

@keyframes h1Se {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.serviceWrapper {
  margin-block-start: 9.37em;
  display: grid;
  grid-template-areas:
    'img'
    'content';
  padding-inline: 2.187em;
  padding-block-end: 9.375em;
  min-width: 0;
  overflow-wrap: break-word;

  @media (min-width: 48rem) {
    padding-inline: 9.06em;
    margin-block-start: 4.06em;
    grid-template-areas:
      'content'
      'img';
  }

  @media (min-width: 63.75rem) {
    grid-template-columns:
      minmax(2.187rem, 1fr)
      minmax(0, 28.45rem)
      minmax(0, 56.91rem)
      minmax(2.187rem, 1fr);
    grid-template-areas: '. content img .';
    padding-inline: 0;
  }
}

.serviceWrapper > *:last-child {
  padding-inline-end: 1em;
}

.serviceImg {
  grid-area: img;
}

.img-service {
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  transition: all 1s ease;
}

.img-service.visible {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.serviceHead {
  text-align: center;
  margin-block: 3.125em;

  @media (min-width: 63.75em) {
    text-align: left;
  }
}
.serviceHead-image {
  margin-inline: auto;

  @media (min-width: 63.75em) {
    margin-inline: unset;
  }
}

.serviceDes {
  grid-area: content;
  padding-block-start: 3.125em;
  text-align: center;

  @media (min-width: 63.75em) {
    padding-block-start: 0;
    text-align: left;
  }
}

.serviceDes-subTitle {
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.serviceDes-subTitle.visible {
  animation: itemClipPath 0.6s ease forwards;
}

@keyframes itemClipPath {
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.serviceDes-para {
  margin-block-end: 3.125em;
}

.servicesList {
  padding-block: 9.375em;
  padding-inline: 2.187em;
}

.dark .servicesListClass {
  background-color: #0f141a;
}

.servicesListHead {
  text-align: center;
  margin-block-end: 4.375em;
}

.servicesListHead-img {
  margin-inline: auto;
}
