.teamEffort {
  color: var(--clr-text-light);
  background: url('/assets/pictures/services/service-panorama.webp') no-repeat
    right center/cover;
  margin-block-start: 13.75em;
  padding: 3em 2.1875em 8.5em;
  text-align: center;
  position: relative;
  isolation: isolate;
  overflow-x: clip;

  @media (min-width: 63.75rem) {
    /* padding: 3em 0; */
    text-align: left;
    padding: 12.5em 2.1875em;
  }
}

.teamEffort::before {
  content: '';
  position: absolute;
  z-index: -1;
  inset: 0;
  background-color: rgba(37 44 47/1);

  @media (min-width: 63.75rem) {
    background-color: rgba(37 44 47/0.9);
  }
}

.dark .teamEffort {
  margin-block-start: 0;
}

.teamEffortWrapper {
  @media (min-width: 65rem) {
    display: grid;
    grid-template-columns:
      minmax(2.187rem, 1fr)
      minmax(0, 22.45rem)
      minmax(0, 62.91rem)
      minmax(2.187rem, 1fr);
  }
}

.teamEffortHeader {
  @media (min-width: 63.75rem) {
    grid-column: 2;
  }
}

.teamEffortHeader-title {
  font-size: 2.0625rem;
  margin-block: 2.66em 0.606em;
  opacity: 0;
  transform: translateY(50px);

  @media (min-width: 48rem) {
    font-size: 2.8125rem;
  }

  @media (min-width: 63.75rem) {
    text-align: left;
    font-size: 3.4375rem;
    margin-block: 0.909em 0.363em;
  }
}

.teamEffortHeader-divider {
  display: flex;
  justify-content: center;
  height: 0.3125em;
  gap: 1em;
  opacity: 0;
  transform: translateX(50px);

  @media (min-width: 63.75rem) {
    justify-content: flex-start;
  }
}

.teamEffortHeader-divider::before {
  content: '';
  display: block;
  background-color: rgba(255 255 255/0.5);
  border-radius: 2px;
  width: 0.5625em;
  height: 0.3125em;
}

.teamEffortHeader-divider::after {
  content: '';
  display: block;
  background-color: rgba(255 255 255/0.5);
  border-radius: 2px;
  width: 3em;
  height: 0.3125em;
}

.teamEffortHeader-text {
  color: rgba(255 255 255/0.7);
  margin-block: 3.875em;
  opacity: 0;
  transform: translateY(50px);
}

.teamEffortList {
  color: rgba(57 57 57/0.7);
  background-color: var(--clr-bg);
  border-radius: 16px;
  padding: 0.9375em;
  overflow-x: clip;

  @media (min-width: 63.75rem) {
    grid-column: 3;
    padding: 0px 4.375em;
  }
}

.teamEffortList ul {
  @media (min-width: 48rem) {
    gap: 2.5em;
  }
}

.teamEffortList-item {
  margin-block: 3.875em;

  @media (min-width: 48rem) {
    margin-block: 2.625em;
  }
}

.teamEffortList-num {
  /* color: rgb(32 32 32); */
  color: var(--clr-text-card-sec);
  font-size: 1.3125rem;
  font-weight: 500;
  margin-block: 0.761em 1.333em;

  @media (min-width: 63.75rem) {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
}

.teamEffortList-num::before {
  content: '';
  display: block;
  background-image: linear-gradient(
    257deg,
    rgb(15, 55, 85) 0%,
    rgb(41, 128, 185) 50%,
    rgb(52, 152, 219) 100%
  );
  border-radius: 2px;
  width: 4.761em;
  height: 0.095em;
  margin-inline: auto;
  margin-block-end: 0.952em;
}

@media (min-width: 63.75rem) {
  .teamEffortList-num::before {
    margin-inline: unset;
    width: 0.952em;
    margin-block-end: -0.476em;
  }
}

.teamEffortList-title {
  color: var(--clr-text-pri);
  font-size: 1.8125rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-block: 0.689em;
}

.teamEffortList-text {
  color: var(--clr-text-card);
  max-width: 40ch;
  margin-inline: auto;
}
