@font-face {
  font-family: 'Quicksand';
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/quicksand/Quicksand-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Quicksand';
  font-weight: 500;
  font-display: swap;
  src: url('/assets/fonts/quicksand/Quicksand-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Quicksand';
  font-weight: 600;
  font-display: swap;
  src: url('/assets/fonts/quicksand/Quicksand-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Quicksand';
  font-weight: 700;
  font-display: swap;
  src: url('/assets/fonts/quicksand/Quicksand-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/ubuntu/Ubuntu-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: 500;
  font-display: swap;
  src: url('/assets/fonts/ubuntu/Ubuntu-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: 700;
  font-display: swap;
  src: url('/assets/fonts/ubuntu/Ubuntu-Bold.woff2') format('woff2');
}

html {
  --clr-pri: rgb(52, 152, 219);

  /*text*/
  --clr-text: rgb(68, 68, 68);
  --clr-text-light: rgb(255 255 255);
  --clr-text-pri: rgb(52, 152, 219);
  --clr-text-2: rgba(20 20 20/0.95);
  --clr-text-3: rgb(32 32 32);
  --clr-text-card: rgb(32 32 32);
  --clr-text-card-sec: rgb(32, 32, 32);
  --clr-text-ser-card: rgba(7 12 31/0.9);
  --clr-text-4: rgb(61, 61, 61);

  /*bg*/
  --clr-bg: rgb(255 255 255);
  --clr-bg-secondary: rgb(249, 249, 249);
  --clr-menu: rgb(34 34 34);
  --clr-bg-card: rgb(255 255 255);
  --clr-bg-header: rgb(255 255 255);
  --clr-bg-img-ani: rgb(219 219 219);
  --clr-bg-icon: rgb(226 225 225);

  /* linear-gradient */
  --gradient-prim: linear-gradient(
    257deg,
    rgb(52, 152, 219) 0%,
    rgb(41, 128, 185) 50%,
    rgb(15, 55, 85) 100%
  );

  --gradient-sec: linear-gradient(
    257deg,
    rgb(15, 55, 85) 0%,
    rgb(41, 128, 185) 50%,
    rgb(52, 152, 219) 100%
  );
}

html.dark {
  --clr-pri: #2c81b8;

  --clr-text: #ffffff;
  --clr-text-2: #ffffff;
  --clr-text-3: rgb(255 255 255);
  --clr-text-card: #d3d1d1;
  --clr-text-card-sec: #2c81b8;
  --clr-text-ser-card: rgba(255 255 255/0.9);
  --clr-text-4: #ffffff;

  --clr-bg: #161d25;
  --clr-bg-secondary: #0f141a;
  --clr-bg-img-ani: #1e2732;
  --clr-bg-header: #1e2732;
  --clr-bg-card: #1e2732;
  --clr-menu: #ffffff;
  --clr-bg-icon: rgb(43, 46, 56);

  --gradient-prim: linear-gradient(
    257deg,
    rgb(20, 42, 66) 0%,
    rgb(17, 35, 55) 50%,
    rgb(10, 20, 32) 100%
  );

  --gradient-sec: linear-gradient(
    135deg,
    #3d9ad2 0%,
    #2c81b8 40%,
    #0f3348 100%
  );
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  color: var(--clr-text);
  background-color: var(--clr-bg);
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.6;
}

h1,
h2,
h3 {
  font-family: 'Quicksand', sans-serif;
  text-wrap: balance;
}

p {
  text-wrap: pretty;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  letter-spacing: 0.2px;
}

ul {
  list-style-type: none;
}

a {
  color: var(--clr-text);
  text-decoration: none;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

.dark img {
  filter: brightness(0.8);
}

input,
textarea,
label {
  font-family: inherit;
  font-size: 100%;
}

/* grid */
.grid {
  display: grid;
  gap: 1.5em;

  @media (min-width: 48rem) {
    grid-template-columns: repeat(
      auto-fit,
      minmax(25ch, 1fr) minmax(25ch, 1fr)
    );
  }
}
