.portfolioList {
  display: grid;
  column-gap: 2em;
  row-gap: 3em;
  grid-template-columns: repeat(auto-fit, minmax(min(350px, 100%), 1fr));
}

.portfolioCard {
  width: 100%;
  height: 500px;
  box-shadow: 0 0 50px rgba(0 0 0/0.35);
  border-radius: 12px;
  border: 1px solid #dddddd;
  transform: scale(1);
  transition: transform 1s ease-in-out;
}

.dark .portfolioCard {
  border: none;
  box-shadow: none;
}

.portfolioCardImg-wrap {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.portfolioCard-img {
  object-fit: cover;
  transition: transform 7s linear;
}

.portfolioCard:hover {
  transform: scale(1.1) !important;
}

.portfolioCard:hover .portfolioCard-img {
  transform: translateY(-70%);
}
