.portfolio {
  /* margin-block-start: 8.94em; */
  padding-block: 6.25em 9.375em;
  padding-inline: 2.1875em;
}

.portfolioContentWrapper {
  overflow-x: clip;
  @media (min-width: 63.75rem) {
    display: grid;
    grid-template-columns: 45% 1fr;
    margin-block-end: 150px;
    gap: 2.5em;
  }
}

.portfolioPara {
  margin-block: 20px 120px;

  @media (min-width: 63.75rem) {
    margin-block: 20px 0;
  }
}
