.homeServices {
  padding: 8.125em 2.1875em;
}

.homeServiceWrapper {
  @media (min-width: 64rem) {
    display: grid;
    grid-template-columns: 35% 1fr;
  }
}

.homeServicesHad {
  text-align: center;
  margin-block-end: 4.375em;

  @media (min-width: 64rem) {
    text-align: left;
  }
}

.homeServicesHad-divider {
  margin-inline: auto;

  @media (min-width: 64rem) {
    margin-inline: unset;
  }
}
