.homeServices {
  background-color: var(--clr-bg-pri);
  padding: 8.125em 2.1875em 9.375em;

  @media (min-width: 48rem) {
    padding: 9.375em 2.1875em 9.375em;
  }
}

.homeServiceWrapper {
  @media (min-width: 64rem) {
    display: grid;
    grid-template-columns: 35% 1fr;
    gap: 1em;
  }
}

.homeServiceCont {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 64rem) {
    align-items: flex-start;
  }
}

.homeServicesHad {
  text-align: center;
  margin-block-end: 4.375em;

  @media (min-width: 64rem) {
    text-align: left;
  }
}

.homeServicesHad h3 {
  @media (min-width: 64rem) {
    line-height: 1.45;
  }
}

.homeServicesHad-divider {
  margin-inline: auto;

  @media (min-width: 64rem) {
    margin-inline: unset;
  }
}
