.aboutUs {
  margin-block-start: 9em;
  padding-inline: 2.1875em;
  text-align: center;

  @media (min-width: 48rem) {
    margin-block-start: 12.562em;
  }
}

.aboutUs-title {
  color: var(--clr-text-pri);
  font-size: 2.6875rem;
  padding-block: 0.86em;

  @media (min-width: 48rem) {
    padding-block: 1.162em;
  }
}

.aboutUsWrapper {
  margin-block-start: 9.37em;
  @media (min-width: 63.75rem) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    margin-block-start: 4.06em;
    text-align: left;
  }
}

.aboutUsContent-subtitle {
  color: var(--clr-text-2);
  font-size: 2rem;

  @media (min-width: 63.75rem) {
    font-size: 2.8125rem;
    font-weight: 600;
    margin-block-start: 0.5em;
    line-height: 1.2;
  }
}

.aboutUsContent-divider {
  position: relative;
}

.aboutUsContent-divider::before {
  content: '';
  display: inline-block;
  width: 5.9375em;
  height: 0.312em;
  background-color: rgba(20 20 20/0.25);
  border-radius: 8px;
}

.aboutUsList {
  display: grid;
  row-gap: 2em;
  margin-block-start: 1.562em;

  @media (min-width: 48rem) {
    row-gap: 1.5em;
  }
}

.aboutUs-picture {
  margin-block-start: 3.125em;

  @media (min-width: 63.75rem) {
    margin-block-start: 0;
  }
}

.aboutUs-img {
  border-radius: 24px;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  transition: clip-path 0.8s ease-in-out;
  will-change: clip-path;
}

.aboutUs-img.visible {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
