.ourVision {
  margin-block-start: 9.375em;
}

.ourVision-wrap {
  @media (min-width: 48rem) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.ourVision-img {
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  transition: clip-path 0.8s ease-in-out;
  will-change: clip-path;

  @media (min-width: 48rem) {
    height: 100%;
    object-fit: cover;
  }
}

.ourVision-img.visible {
  clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
}

.ourVision-content {
  color: var(--clr-text-light);
  background-color: rgb(39, 39, 39);
  text-align: center;
  padding: 0.625em 1.25em;

  @media (min-width: 48rem) {
    text-align: left;
  }

  @media (min-width: 65rem) {
    padding: 0px 6.25em 0px 8.75em;
  }
}

.ourVision-head {
  position: relative;
}

.ourVision-head::after {
  content: '';
  display: block;
  background-color: rgb(204, 204, 204);
  border-radius: 8px;
  width: 5.9375em;
  height: 0.3125em;
  margin-inline: auto;
  margin-block: 1.5em;

  @media (min-width: 48rem) {
    margin-inline: unset;
  }
}

.ourVision-title {
  font-size: 1.625rem;
  margin-block-start: 1em;
  text-transform: capitalize;

  @media (min-width: 65rem) {
    font-size: 3.125rem;
  }
}

.ourVision-text {
  color: rgba(255 255 255/0.6);
  margin-block-end: 0.875em;
}
