.blog {
  margin-top: 9em;
  padding-inline: 2.1875em;

  @media (min-width: 48rem) {
    margin-block: 12.562em;
  }
}

.blog-header {
  opacity: 0;
  transform: scale(1.2);
}

.blog-header.blog-header--ani {
  animation: fadeInBlogHead 0.75s forwards;
}

@keyframes fadeInBlogHead {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.blog-mainTitle {
  color: var(--clr-text-pri);
  font-size: 2.6875rem;
  padding-block: 0.86em;
  text-align: center;

  @media (min-width: 48rem) {
    padding-block: 1.162em;
  }
}

.blog-des {
  text-align: center;
  margin-block-start: 9.37em;
  opacity: 0.2;
  transform: translateY(100px);
}

.blog-des.blog-des--ani {
  animation: fadeInBlogDes 0.075s forwards;
}

@keyframes fadeInBlogDes {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.blog-desPara {
  max-width: 75%;
  margin-inline: auto;
  margin-block: 2em;
}
