.blogCardDet {
  margin-block-start: 9em;
  padding-inline: 2.1875em;
  padding-block-end: 9.375em;

  @media (min-width: 48rem) {
    margin-block: 12.562em;
  }
}

.blogCardDet-img {
  margin-block-end: 3.56em;
}

.blogCardDet-img img {
  border-radius: 0;
}

.blogCardDet-container {
  max-width: 56.25em;
  margin-inline: auto;
}

.blogCardDet-title {
  color: var(--clr-text-pri);
  font-size: 2.25rem;
  font-weight: 600;
  text-align: center;
  line-height: 1.4;
}

.blogCardDet-entryInfo {
  color: rgb(170 170 170);
  display: flex;
  justify-content: center;
  align-items: center;
}

.blogCardDet-entryInfo-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 1.375em;
}

.blogCardDet-entryAuthor {
  position: relative;
  margin-inline-start: 0.625em;
  padding-inline-start: 0.625em;
  display: flex;
  align-items: center;
}

.blogCardDet-entryAuthor::before {
  content: '';
  position: absolute;
  left: 0;
  background-color: rgb(187 187 187);
  width: 1px;
  height: 10px;
}

.blogCardDet :is(.blogCardDet-secTitle, .blogCardDet-para) {
  color: var(--clr-text-ser-card);
}

.blogCardDet-secTitle {
  font-size: 1.75rem;
}

.blogCardDet-para {
  font-size: 1.125rem;
  line-height: 1.6;
}

.blogCardDet-list {
  margin-block: 1em;
}

.blogCardDet-item:not(:first-child) {
  margin-block-start: 1em;
}

.blogCardDet-secTitle {
  font-size: 1.375rem;
  margin-block-end: 0.5em;
}

.blogCardDet-subTitle {
  font-size: 1.125rem;
  font-weight: 700;
  margin-block: 1em 0.25em;
}

.blogCardDet-subList {
  margin-block: 0.5em 1em;
  list-style-type: disc;
  padding-inline-start: 2em;
}

.share-container {
  margin-block-start: 3.75em;
  padding-block: 1.5em;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;

  p {
    font-size: 1rem;
  }
}
