.head-title {
  color: var(--clr-text-2);
  font-size: 2rem;
  font-weight: 600;
  margin-block-end: 20px;

  @media (min-width: 48rem) {
    font-size: 3rem;
  }

  @media (min-width: 63.75rem) {
    font-size: 2.8125rem;
    line-height: 1.3;
  }
}

.head-title-span {
  color: var(--clr-pri);
}
