.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  min-height: 8.94rem;
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.1);
}

.dark .header {
  box-shadow: unset;
}

/*hederTop*/
.headerTop {
  color: var(--clr-text-light);
  background-image: var(--gradient-prim);
  display: grid;
  grid-template-columns: 1fr;
  padding-inline: 2.11em;
  padding-block: 1em;

  @media (min-width: 48rem) {
    grid-template-columns: repeat(2, 1fr);
    padding-inline: 2.19em;
  }
}

.headerTop-leftCol {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: 48rem) {
    justify-content: unset;
    gap: 2em;
    margin-inline-end: 2em;
  }

  @media (min-width: 65rem) {
    padding-inline-end: 0;
  }
}

.headerTop-phone svg {
  transform: rotate3d(0, 0, 1, -25deg);
}

.headerButton-container {
  display: flex;
  align-items: center;
  gap: 2em;
}

.toggleTheme {
  background: #f8fafc;
  border: 1px solid #cbd5e1;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: grid;
  place-content: center;

  svg {
    color: #1e293b;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}

.dark .toggleTheme {
  background: #0a192f;
  border: 1px solid #233554;

  svg {
    color: #facc15;
  }
}

.headerTop-rightCol {
  display: flex;
  gap: 2em;
  align-items: center;
  justify-content: end;
  margin-inline-start: 2em;
  padding-inline-end: clamp(1em, 9vw, 10em);

  @media (min-width: 48rem) {
    padding-inline-start: 0;
    padding-inline-end: 0;
  }
}

.headerTop-rightCol svg {
  color: var(--clr-text-light);
  width: 1.375em;
  height: 1.375em;
}

.headerTop-leftCol :is(.headerTop-phone, .headerTop-email) {
  display: flex;
  text-align: center;
  gap: 0.5em;
}

.headerBott {
  background-color: var(--clr-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2.11em;
  padding-block: 1.56em 1em;

  @media (min-width: 48rem) {
    flex-direction: column;
    gap: 1em;
  }
  @media (min-width: 65rem) {
    flex-direction: row;
    padding-inline: 2.19em;
  }
}

/*hamburger-menu*/
.hamMenu {
  background: none;
  border: none;
  width: 1.56em;
  height: 1.56em;
  position: relative;
  z-index: 10;
  cursor: pointer;

  @media (min-width: 48rem) {
    display: none;
  }
}

.hamMenu-item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--clr-menu);
  transition: all 0.5s ease;
}

.hamMenu-item--middle {
  top: 8px;
}

.hamMenu-item--bottom {
  top: 16px;
}

.hamMenu--open .hamMenu-item--top {
  transform: rotate(45deg) translate(6px, 6px);
}

.hamMenu--open .hamMenu-item--middle {
  display: none;
}

.hamMenu--open .hamMenu-item--bottom {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* nav */
.nav {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  right: 0;
  background: var(--clr-bg-header);
  display: grid;
  place-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s ease, visibility 0.35s ease;

  @media (min-width: 48rem) {
    position: unset;
    height: auto;
    width: auto;
    opacity: 1;
    visibility: visible;
    background: none;
  }
}

.nav--show {
  opacity: 1;
  visibility: visible;
}

.nav-body {
  display: grid;
  gap: 2em;
  padding-block: 2em;
  transform: translateY(-50px);
  transition: transform 0.35s ease;

  @media (min-width: 48rem) {
    display: flex;
    padding-block: 0;
    transform: none;
  }
}

.nav--show .nav-body {
  transform: none;
}

.nav-item {
  text-align: center;
  text-transform: uppercase;
}

.nav-link {
  color: var(--clr-text-4);
  font-size: 1.75rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  transition: all 0.15s ease;

  @media (min-width: 48rem) {
    font-size: 0.875rem;
  }
}

.nav-link:hover {
  font-weight: 600;
}
